cachetools>=5.0.0
datasets>=3.0.0
h5py>=3.10.0
huggingface-hub>=0.20.0
kagglehub>=0.3.0
numpy>=1.26.4
openpyxl>=3.1.0
pandas>=2.1.0
pyarrow>=15.0.0
PyYAML>=6.0
requests>=2.31.0
scipy>=1.13.1
tqdm>=4.66.0
zenodo-get>=3.0.0
spectrochempy>=0.8.0
gdown>=5.2.1
